/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

/* Header Styles */
header {
  background-color: #42a2b5;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #fff;
  margin-right: 1rem;
}

.logo img {
  width: 75px;
  height: 75px;
  vertical-align: middle;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.2s;
  font-weight: bold;
  text-transform: capitalize;
}

nav ul li a:hover {
  background-color: #64c7b4;
}

/* Hero Section Styles */
.hero-section {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-text {
  width: 50%;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.hero-image {
  width: 50%;
}

.hero-image img {
  width: 100%;
  border-radius: 10px;
}

.hero-text {
  margin: 6px;
  padding: 6px;
}

.hero-des {
  margin: 6px;
  height: 250px;
  width: 450px;
}

/* Button Styles */
.btn a {
  display: inline-block;
  background-color: #42a2b5;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
}

.container {
  text-align: center;
}

/* Search Bar Styles */
.search-bar {
  display: inline-block;
  align-items: center;
  border: 0 solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  flex-grow: 1;
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.search-bar button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button[type="submit"]:hover {
  background-color: #7d9e7e;
}

/* Region Item Styles */
.region-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
}

.region-item img {
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 200px;
  height: 100px;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.region-item:hover img {
  transform: scale(1.3);
}

.region-item .btn {
  background: #ffffff;
  color: var(--primary);
  border-radius: 20px;
  border-bottom: 1px solid var(--primary);
}

.region-item .btn:hover {
  background: var(--primary);
  color: #ffffff;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
}

/* Footer Styles */
.footer {
  background-color: #0E7B20;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/* Responsive Styles */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
