@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
    list-style: none;
    box-sizing: content-box    
} 

body{

<<<<<<< HEAD
     background-color: white;
header{
    background-color: #07003B;
    width: 99%;
}
     
.sidebar li:hover{

    background-color: #4285F4;
    
  }  
  #selected{
    background-color: #4285F4;
} 

.sidebar ul li {
    padding: 17px 10px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3ms ease;
}
.logo{
    margin-bottom: 0px;
    margin-top: 0px;  
       
}

.logo img{
    width: 70px;
    border-radius: 90%;
}
.slide1{
    margin-left:0px;
}
}
.slide1 img{
    width: 600px;
    height:470px ;
    margin-bottom: 50px;
    margin-left: 58%;
    margin-top: 20px;     
}
.slidebar ul{
    height: 100px;
}

.slide2{
    margin-left: 72px;
}
.slide2 img{
    width: 310px;
    height:180px ;  
    margin-top: 10px; 
    margin-left: 50px;
    margin-inline-end: 0px;
    
=======
>>>>>>> login-page
}

/*Footer item style*/
.footer {
    background-color: #07003B;
    color: #fff;
    padding: 20px 0;
   
}

.footer-container {
    display: flex;
    justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 300px;
    margin: 10px;
}
.footer-column h3 {
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
 .footer-column ul {
     list-style-type: none;
     padding: 0;
 }
 .footer-column ul li {
     margin: 5px 0;
}
 .footer-column ul li a {
     color: #fff;
     text-decoration: none;
 }

.footer-column ul li a:hover {
    text-decoration: underline;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 25px;
}

.social-icons a:hover {
    color: #ccc;
}

/* .col1 img{
    width: 900px;
     height: 550px; */
}
/* 
.col2 img{
    width: 900px;
     height: 550px; */
} */ */



/* .log-page{
    display:flex;    
}

.log-img img{
      width: 90%;
      height: 595px;   
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

<<<<<<< HEAD

=======
.logo{
    margin-bottom: 20px;
    margin-top: 60px;
   border-style: outset;
    border-radius: 80%;

       
}

.logo img{
    width: 250px;
    border-radius: 50%;
    
}

.button button{
    width: 20rem;
    padding: 10px 0;
    font-size: 18px;
    color: #3B6A84;
    cursor: pointer; 
    transition: 0.4s ease;
    border-radius: 30px;
    
>>>>>>> login-page
}

#b1{
    margin-bottom: 15px;
    margin-top: 50px; 
}

#b2{
    margin-bottom: 15px;
}
.button button:hover{
<<<<<<< HEAD
    background-color:#07003B ;
}  */
=======
    background-color:#466C36;
}
>>>>>>> login-page
