@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
    list-style: none;
    box-sizing: content-box    
} 

body{
    background-image: url(/images/sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 595px;  
    backdrop-filter: blur(6px);
    /* background-color: #000;
     */
    
}


.log-page{
    display:flex;    
}

.log-img img{
      width: 80%;
      height: 595px;   
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    margin-bottom: 70px;
    margin-top: 100px;
       
}

.logo img{
    width: 150px;
    border-radius: 50%;
}





.button button{
    width: 20rem;
    padding: 10px 0;
    font-size: 18px;
    border: none;
    color: #3B6A84;
    cursor: pointer; 
    transition: 0.3s ease;
    border-radius: 30px; 
    /* 
    position: relative;
    
    height:20px;
    flex-direction: column;
    margin-left: 100px;
    display: flex;
    margin-bottom: 20px;
     
     */
}

#b1{
    margin-bottom: 15px;
}
.button button:hover{
    background-color:yellow ;
}
