* {
  margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
  background-color: white;
}

/* Header Styles */
header {
  background-color: #42a2b5;
      padding: 1rem;
      justify-content: space-between;
      align-items: center;
}

.logo {
  text-decoration: none;
      color: #fff;
      margin-right: 1rem;
}

.logo img {
  width: 75px;
      height: 75px;
      vertical-align: middle;
}

nav {
  display: flex;
      justify-content: space-between;
}

nav ul {
  list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  text-decoration: none;
      color: #fff;
      padding: 0.5rem;
      border-radius: 5px;
      transition: background-color 0.2s;
      font-weight: bold;
      text-transform: capitalize;
}

nav ul li a:hover {
  background-color: #64c7b4;
}

/* Search Bar Styles */
.search-bar {
  display: inline-block;
      align-items: center;
      border: 0 solid #ccc;
      border-radius: 5px;
      padding: 5px;
      margin-bottom: 20px;
}

.search-bar input[type="text"] {
  flex-grow: 1;
      padding: 5px;
      border: none;
      border-radius: 5px;
      outline: none;
}

.search-bar button[type="submit"] {
  background-color: #4caf50;
      color: white;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
}

.search-bar button[type="submit"]:hover {
  background-color: #7d9e7e;
}

/* Hero Section Styles */
.hero {
  min-height: 100vh;
  background-image: url(./images/viewtop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  color: #F6F7EB;
}

.content h1 {
  font-size: 65px;
  margin-bottom: 20px
}

.content p {
  font-size: 22px;
  margin-bottom: 30px;
}

.content .btn {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #42a2b5;
  border-radius: 15px;
  transition: 0.3s ease;
  cursor: pointer;
}

.content .btn:hover {
  background-color: #7d9e7e;
}

/* Hero Section Styles */
.hero-section {
  background-color: #f5f5f5;
  padding: 50px 50px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-text {
  width: 50%;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.hero-image {
  width: 50%;
}

.hero-image img {
  width: 100%;
  border-radius: 10px;
}

.hero-text {
  margin: 6px;
  padding: 6px;
}

.hero-des {
  margin: 6px;
  height: 250px;
  width: 450px;
}

/* Region Item Styles */
.img-container {
  padding: 20px;
  background-color: #f0f0f0;
  /* Set your desired background color */
}

.reg-text {
  text-align: center;
  margin-bottom: 20px;
}

.reg-imgs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.region-item {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  /* Background color for each image item */
}

.region-item .overflow-hidden {
  width: 100%;
  height: 200px;
  /* Set a fixed height for all images */
  display: flex;
  justify-content: center;
      align-items: center;
}

.region-item .img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensure the image covers the area without distortion */
  transition: transform 0.3s ease;
}

.region-item:hover .img-fluid {
  transform: scale(1.1);
}
/*Footer item style*/
.footer {
  background-color: #466C36;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}
.footer-column h3 {
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.footer-column ul {
   list-style-type: none;
   padding: 0;
}
.footer-column ul li {
   margin: 5px 0;
}
.footer-column ul li a {
   color: #fff;
   text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 25px;
}

.social-icons a:hover {
  color: #ccc;
}