* {
    margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
    background-color: white;
}

/* Header Styles */
header {
    background-color: #42a2b5;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        margin-left:-250px;
}

.logo {
    text-decoration: none;
        color: #fff;
        margin-right: 1rem;
}

.logo img {
    width: 75px;
        height: 75px;
        vertical-align: middle;
}

nav {
    display: flex;
        justify-content: space-between;
}

nav ul {
    list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;
        color: #fff;
        padding: 0.5rem;
        border-radius: 5px;
        transition: background-color 0.2s;
        font-weight: bold;
        text-transform: capitalize;
}

nav ul li a:hover {
    background-color: #64c7b4;
}

/* Search Bar Styles */
.search-bar {
    display: inline-block;
        align-items: center;
        border: 0 solid #ccc;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 20px;
}

.search-bar input[type="text"] {
    flex-grow: 1;
        padding: 5px;
        border: none;
        border-radius: 5px;
        outline: none;
}

.search-bar button[type="submit"] {
    background-color: #4caf50;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
}

.search-bar button[type="submit"]:hover {
    background-color: #7d9e7e;
}



body{
    margin-left:250px;
}

.header{
    margin-left: 50px;
}

.funfact{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    width:100%;
}
.navigation {
    position:fixed;
    display:flex;
    flex-direction:column;
    align-items:stretch;
    top:85px;
    left:0;
    width:250px;
    height:100%;
    background-color: #f1f1f1;
    padding: 20px 0;
}

.navigation a{
    display: block;
    color:aqua;
    padding: 16px 20px;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    flex-grow: 1;
    font-size:x-large;
}

.navigation a:focus,
.navigation a:active {
  background-color: #007bff; /* Set the background color of the active link */
  color: #fff; /* Set the text color of the active link */
}

.navigation a:last-child {
    border-bottom: none; /* Remove the bottom border from the last link */
}

.navigation a:hover {
    background-color: #ddd; /* Change the background color on hover */
}

.slideshow {
    position: relative;
    width: 100%;
    height: 80vh; /* Set the height to 100% of the viewport height */
    overflow: hidden;
  }
   
.slide {
    display: none;
    width: 100%;
    height: 100%;
}
  
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}